@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(/css/fontello.css);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
/* 기본 박스 사이징 */



body *,
body *::before,
body *::after {
    box-sizing: border-box;
}

/* 레이아웃 */

/* 하이퍼 링크 스타일 */
a {
    text-decoration: none;
    color: inherit;
}

/* 유틸리티 */
.a11y-hidden,
legend {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* 본문 기본설정 */
html {
    font-size: 10px;
}


/* 헤더 */
.header {
    background: #FFF;
    padding: 0 30px 30px 30px;
    border-radius: 0 0 15px 15px;
    position: relative;
}

/* 로고 영역 */
.logo {
    margin: 0;
    position: absolute;
    top: 50px;
    left: 65px;
}

/* 멤버 링크 영역 */
.member {
    padding-left: 0;
    list-style-type: none;
    text-align: right;
    font-size: 0;
    color: #181818;
    text-transform: uppercase;
    padding: 2px 0;
    margin-right: -10px;
    /* position: relative;
    right : -10px; */
}

.member li,
.member a {
    display: inline-block;
}

.member li {
    font-size: 1.4rem;
}

.member li>a {
    padding: 8px 10px;
}

/* .member li:last-child>a {
    padding-right: 0;
} */


/* 메인 메뉴 */
.navigation {
    padding-bottom: 10px;
}

.menu {
    background-image: linear-gradient(to bottom, #ff6868 2%, #ff6868 2%, #ff6868 3%, #ff6868 3%, #ff3a3a 33%, #ff3a3a 67%, #ff6868 94%);
    background: #ff6868;
    list-style-type: none;
    border-top: 2px solid #181818;
    border-radius: 0 0 5px 5px;
    /* box-shadow: 0 -2px 0 0 #181818; */
    margin: 5px 0 0;
    padding-left: 239px;
    text-align: right;
    height: 47px;
}

.menu-item {
    float: left;
    margin-right: -4px;
    border-left: 2px solid rgba(255, 255, 255, .5);
    position: relative;
}

.menu-item-act .submenu {
    width: auto;
    height: auto;
    position: absolute;
    clip: auto;
}

.menu-item-act .menu-link {
    color: yellow;
}

.menu-item-act .menu-link::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #181818;
}

.menu-link {
    display: block;
    color: #FFF;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 45px;
    padding: 0 20px;
    text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
}

/* .menu-link:focus + .submenu{
    width: auto;
    height: auto;
    position: absolute;
    clip: auto;
} */
.submenu {
    white-space: nowrap;
    padding-left: 0;
    list-style-type: none;
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

.submenu li {
    display: inline-block;
    margin-right: 10px;
}

.submenu li a {
    display: block;
    padding: 12px 0;
}

.menu>li:nth-child(1) .submenu,
.menu>li:nth-child(2) .submenu,
.menu>li:nth-child(3) .submenu {
    left: 0;
}

.menu>li:nth-child(4) .submenu,
.menu>li:nth-child(5) .submenu,
.menu>li:nth-child(6) .submenu {
    right: 0;
}

.tab-on {
    color: red;
}

/* .menu-link:hover+.submenu>li {
    visibility: visible;
} */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-size: 1.4rem;
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-weight: 400;
    color: #181818;
    background: url(/css/images/bg_flower.png) no-repeat 50% 0,
        #ccc linear-gradient(#ccc, #eee, #fff) repeat;
    /*기본값이 400이지만 명시적으로 표시*/
}

.header,
.visual,
.main,
.slogun,
.footer {
    width: 940px;
    margin: 0 auto;
}




/*  비주얼  */

@keyframes textAni {
    0% {
        opacity: 0;
        /* top: 0; */
        /* left: 0; */
        transform: translate(0, 0);
    }

    100% {
        opacity: 1;
        /* top: 60%; */
        /* left: 45%; */
        transform: translate(400px, 75px);
        font-size: 24px;
        font-weight: 400;
    }
}

@keyframes bgAni {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.visual {
    height: 120px;
    position: relative;
}

.visual::before,
.visual::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: 2s bgAni infinite alternate ease-in-out;
}

.visual::before {
    background: url(./images/ani_flower_01.png) no-repeat 0 -10px,
        url("./images/ani_flower_02.png") no-repeat 85% 20px;
}

.visual::after {
    animation-delay: 1s;
    background: url("./images/ani_flower_03.png") no-repeat 30% 0px,
        url("./images/ani_flower_04.png") no-repeat 95% 20px;
}

.visual-text {
    /* position: absolute; */
    opacity: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: textAni .5s forwards ease-in-out 1s;
    display: inline-block;
}

/* 메인 콘텐츠 */
.main {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    /* justify-content: space-evenly;  */
    justify-content: space-between;
    padding: 30px;
    min-height: 400px;
    background-color: #FFF;
    border-radius: 15px 15px 0 0;
}

/* 로그인 */
fieldset {
    padding: 0;
    margin: 0;
}

.login {
    /* 내코드 */
    /* background: radial-gradient(farthest-corner at 100% 0%,#e8852e,#ed552f) tomato; */
    background-color: #e8852e;
    border-image: radial-gradient(circle at right top, #e8852e, #ed552f);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px #CCC;
}

.login-heading {
    margin-top: 0;
    margin-left: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: yellow;
}

.login-form,
.sign {
    background-color: white;
    border-radius: 5px 5px 0 0;
    padding-left: 10px;
    padding-right: 10px;
}

.login-form {
    padding-top: 10px;
}

.sign {
    border-radius: 0 0 5px 5px;
    list-style-type: none;
    margin: 0;
    /* flex,inline-block 사용시 */
    /* padding: 0 0 10px 0; */
    /*float 사용시 */
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.3rem;
    /* display: flex;
    justify-content: space-between; */
}

.login-form fieldset {
    border: none;
    width: 210px;
    position: relative;
}

.login-form fieldset::after {
    margin-top: 60px;
    content: "";
    display: block;
    height: 1px;
    background: gray;
}

.user-pw,
.user-email {
    float: left;
    margin-bottom: 5px;
}

.login-form label {
    display: inline-block;
    width: 55px;
}

/* .login-form input {
    width: 95px;
    height: 24px;
    padding: 1px 1px 1px 5px;
    border : solid 1px #ccc;
} */

[name^="user"] {
    width: 95px;
    height: 24px;
    padding: 1px 1px 1px 5px;
    border: solid 1px #ccc;
}

.btn-login {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ed552f;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    /* 그리드 사용시 */
    /* margin-left: 5px; */
    /* grid-area: btn; */
    width: 50px;
    height: 53px;
    padding: 0;
    border: 2px solid #f8953e
}




.login ul li {
    display: inline-block;
}

/* float 사용시 */
/* .login ul li:first-child {
    float: left;
}
.login ul li:last-child {
    float: right;
} */

/* inline-block 사용시 */
.login ul li:last-child {
    margin-left: 5px;
}

.icon-right-open::before {
    color: tomato;
}


/* 유효성 검사 배너 링크 */

.validation-list {
    padding-left: 0;
    margin: 25px 0 20px;
    list-style-type: none
}

.validation a {
    border: 1px solid gray;
    border-radius: 30px;
    background: url(./images/validation_icon.png) no-repeat 13px 50%, linear-gradient(#ccc, white) #ccc;
    line-height: 30px;
    text-indent: 35px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    display: block;
}

.validation a:hover {
    color: red;
}

/* 웹 관련 용어 */

.term {
    padding: 15px;
    background: linear-gradient(#ccc, #eee) #ccc;
    border-radius: 10px;
    border: 1px solid #bbbbbb;
}

dd,
dl {
    margin: 0;
}

.term-heading {
    margin: 0 0 1.5rem 0;
    font-size: 1.5rem;
}

.term-list-brief {
    line-height: 20px;
}

/* 웹 관련 용어- float편 */

.term div {
    overflow: hidden;
}

.term-list-thumbnail {
    float: left;
}

.term-list-subject,
.term-list-brief {
    width: 145px;
    float: right;
}

.term-list-subject {
    color: #296867;
    margin-bottom: 5px;
}

.even {
    margin-top: 20px;
}

.even .term-list-thumbnail {
    float: right;
}

.even .term-list-subject,
.even .term-list-brief {
    float: left;
}

/* 웹 관련 용어 -position편 */
/* .term {
    height: 150px;
}
.term-list {
    position: relative;
}
.term-list-subject,
.term-list-thumbnail,
.term-list-brief{
    position: absolute;
}
.term-list-thumbnail{
    left:0;
    top:0;
}
.term-list-subject {
    left:75px;
    top:0;
}
.term-list-brief{
    left:75px;
    top:20px
} */

/* 웹 관련 용어 flex편 */
/* .term {
    height: 150px;
}
.term-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 85px;
}
.term-list-subject {
    color: #296867;
}
.term-list-thumbnail{
    order: -1;
}
.term-list-brief{
    width: 145px;
} */
/* 자료검색 */
.search {
    border: 1px solid #aaa;
    padding: 15px 25px 10px;
    border-bottom-color: white;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(#ccc, #eee) #ccc;
}

.search-form fieldset {
    border: none;
    height: 25px;
}

.flex-wrap {
    display: flex;
    justify-content: space-between;
}

.search label {
    display: flex;
    align-items: center;
    margin: 0;
}

[name="keyword"] {
    height: 25px;
    width: 190px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 5px;
    border-radius: 3px;
}

.btn-search {
    height: 25px;
    background: #181818;
    color: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    font-size: 12px;
    padding: 0 10px;
    vertical-align: top;
}

/* 게시판 */

/* .board {
    margin-top: 20px;
    position: relative;
    width: 380px;
    display: flex;
}

.tab {
    top: 0;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(#ccc, #eee), #ccc;
}

.notice-heading a {
    position: absolute;
    top: 0;
    left:0;
}
.pds-heading a {
    position: absolute;
    top: 0;
    left:74px;
}


.more {
    position: absolute;
    display: none;
    padding: 8px;
    right: -8px;
    top: -8px;
}

.notice,
.pds {
    order: 10;
}

.board [class$="-list"] {
    display: none;
    width: 380px;
    list-style-type: none;
    padding-left: 0;
    padding-top: 15px;
    margin: 0;
}

.notice-list li,
.pds-list li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.notice-list li a,
.pds-list li a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.board-act{
    order: -1;
}

.board-act [class$="-list"],
.board-act .more {
    display: block;
}

.board-act .tab {
    background: white;
    border: 1px solid orangered;
    border-bottom: white;
}

.more .icon-plus {
    color: hsla(110, 50%, 30%, 1);
} */

.board {
    position: relative;
    padding-top: 50px;
    margin-top: 20px;
}

.board h2 {
    position: absolute;
    top: 0;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
}

.notice-heading {
    left: 0;
}

.pds-heading {
    left: 73px;
}

.tab {
    display: block;
    padding: 8px 10px;
    border: 1px solid #aaa;
    color: #999;
    background: linear-gradient(#ccc, #eee) #ccc;
    border-radius: 5px 5px 0 0;
}

.board-act .tab {
    border-color: #ed552f #ed552f #fff #ed552f;
    color: #ed552f;
    background: #fff;
}

.board-act h2 {
    z-index: 10;
}

.board .more {
    display: none;
}

.board ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: none;
    min-height: 135px;
}

.board-act ul {
    display: block;
}

.board li {
    margin-bottom: 8px;
}

.board ul a {
    display: inline-block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

.more {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
}

.board-act .more {
    display: block;
}

.more .icon-plus {
    color: hsla(110, 50%, 30%, 1);
}

/* 새소식 */
.news {
    position: relative;
    margin-top: 20px;
}

.news::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    top: 35px;
    left: 0;
    background: linear-gradient(to right, #ccc, #eee) #ccc;
}

.news-heading {
    font-size: 1.5rem;
    color: orangered;
    margin: 0;
}

.news-item-subject {
    font-size: 1.4rem;
    margin: 0;
}

.news-item-date {
    display: block;
    margin-top: 5px;
}

.news-item-brief {
    margin: 5px 0 0 0;
    line-height: 1.5;
}


.news-item-thumbnail img {
    box-shadow: 0 10px 20px 5px#ccc;
}

figcaption {
    margin-top: 15px;
    text-align: center;
}



/* news position ver */
/* .news-link {
    display: block;
    width: 380px;
    padding-left: 130px;
    margin-top: 20px;
    position: relative;
    right: 0;
}
.news-item-thumbnail {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0; 
} */
/* news float ver */
.news-item-thumbnail {
    margin: 40px 0 0 0;
    width: 112px;
}

.news-item h3,
.news-item-brief,
.news-item-date {
    float: right;
    width: 240px;
}

/* news flex ver */
/* .news-link {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 130px;
    margin-top: 40px;
}
.news-item-thumbnail{
    margin: 0;
    order: -1;
    align-self: flex-start;
    padding-bottom: 50px;
}
.news-item h3,
.news-item-brief,
.news-item-date{
    width: 240px;
    align-self: flex-end;
} */

/* 이벤트 탭 */

em {
    font-style: normal;
}

.event {
    border: 1px solid #aaa;
    /* padding: 10px; */
    position: relative;
    /* background: linear-gradient(#ccc, #eee) #ccc; */
    border-radius: 5px 5px 0 0;
}

.event-heading {
    width: auto;
    font-size: 1.5rem;
    margin: 2px 0 0 0;
}

.point-color {
    color: #ed552f;
}

.event-image {
    border: 1px solid #aaa;
    box-shadow: 5px 5px #aaa;
}




.btn-event {
    /* background: yellow; */
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    /* font-size: 0; */
    /* width: 40px; */
    /* display: flex; */
    /* justify-content: space-between; */
}

[class^="btn-event-"] {
    width: 20px;
    height: 20px;
    border: none;
    background: url(./images/back_forward.png) no-repeat;
    cursor: pointer;
    padding: 0;
    text-indent: 20px;
    overflow: hidden;
    white-space: nowrap;
}

.btn-event-next {
    background-position: -36px 0;
}

/*  test용

width: 20px;
height : 20px;
padding: 0;
text-indent: 20px;
white-space : nowrap;
overflow : hidden;
border: 0;
*/

.event-brief::after {
    content: "";
    display: block;
    height: 1px;
    background: #ccc;
    margin-top: 10px;
}

.relsite {
    padding: 10px;
}

.relsite-heading {
    font-size: 1.5rem;
}

.relsite-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    border: 1px solid #ccc;
    overflow: hidden;
    border-radius: 5px;
    height: 25px;
}

.relsite-list li {
    margin: 5px 10px;
}

/* 슬로건 */
.slogun {
    height: 10vh;
    background: tomato;
}

.footer-bg {
    width: 100%;
    background: violet;

}

.footer {
    height: 10vh;
    background: lime;
}

.group1 {
    width: 250px;
}

.group2 {
    width: 380px;
}

.group3 {
    width: 190px;
}